*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 15px;
}
p{
    font-size: 18px;
}
.carma-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.carma-block{
    display: block;
}
.carma-card{
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
    min-height: 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2%;
} 
.carma-lg-1{
    width: 7.33%;
}
.carma-lg-2{
    width: 15.66%;
}
.carma-lg-3{
    width: 24%;
}
.carma-lg-4{
    width: 33.32%;
}
.carma-lg-5{
    width: 40%;
}
.carma-lg-6{
    width: 49%;
}
.carma-lg-7{
    width: 56%;
}
.carma-lg-8{
    width: 64%;
}
.carma-lg-9{
    width: 70%;
}
.carma-lg-10{
    width: 80%;
}
.carma-lg-11{
    width: 90%;
}
.carma-lg-12{
    width: 100%;
}
.carma-margin-1{
    margin: 1%;
}
.carma-margin-2{
    margin: 5%;
}
.carma-margin-3{
    margin: 10%;
}
.carma-margin-4{
    margin: 15%;
}
.carma-margin-5{
    margin: 20%;
}
.carma-margin-6{
    margin: 30%;
}